[Desktop Entry]
Version=1.0
Type=Application
Name=Blaster Layout Editor
Comment=Configurador de Macros para Gamepad
Exec=python3 /opt/Blaster/main.py
Icon=/opt/Blaster/blaster.svg
StartupWMClass=blaster
Path=/opt/Blaster/
Terminal=false
Categories=Utility;Settings;
